h1 {
    font-size: 4em;
    text-align: center;
    color: red;
}
h2 {
    font-size: 2em;
    font:bold;
}

#mybtn {
    background-color: orangered;
    outline-color: orangered;
}
#bkinsert {
    color: gray;
    font-style: italic;
}

#MB-logo {
    border: 0px;
    float: left;
}

.card-body-left {
    text-align: right;
    border-bottom: 0px;
    background-color: rgb(245, 238, 238);
    padding-right: 10px;
}
.card-title-left {
    text-align: right;
    color: darkolivegreen;
}
.card-text-left {
    font-size: 2em;
}
.card-body-right {
    padding: 1.5em;
    text-size: 3em;
}
.nav-link {
    color: black
}